@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cowboy-Cafe</h1>
    <p>We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. 
    Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. 
    Dip your Pan de Campo into a bowl of beans. 
    Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.</p>

</div>

<form id="menu-database">
    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search">
    </div>

    

    <div id="filters">

        <h4>Category: </h4>
        @foreach (String item in CowboyCafe.Data.Menu.ItemTypes)
        {
            <label>
                <input type="checkbox"  value="@item" checked="@WebSite.Pages.IndexModel.ItemTypes.Contains(item)" />
                @item
            </label>

        }

        <h4>Price</h4>
        <div>
            Between
            <input name="Price1" type="number" min="0" max="20" step="0.1" placeholder="Min" />
            and
            <input name="Price2" type="number" min="0" max="20" step="0.1" placeholder="Max" />
        </div>

        <h4>Calories</h4>
        <div>
            Between
            <input name="Calories1" type="number" min="0" placeholder="Min" />
            and
            <input name="Calories2" type="number" min="0" placeholder="Max" />
        </div>
    </div>

    <div id="results">
        <h1>Menu</h1>
        <ul class="item-list">
            @foreach (CowboyCafe.Data.IOrderItem item in @Model.All)
            {
                <li>
                    <div class="details">
                        <h3 class="item-name">@item.ToString()</h3>
                        <div class="item-price">Price: $@item.Price</div>
                        <div class="item-calories">Calories: @item.Calories</div>
                    </div>
                </li>
            }
        </ul>
    </div>

</form>


